@font-face {
    font-family: rejouice;
    src: url("./SuisseIntl-Light.woff2");
}
@font-face {
    font-family: rejouiceTwo;
    src: url("./SuisseIntl-Regular.woff2");
}




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family : rejouice
}



html,body{
    height: 100%;
    width : 100%;
    background-color: black;
}



#page1{
    height:100vh;
    width :100%;
    background-color: #dadada;
    position : relative;
}
#page1 video{
    height : 100%;
    width :100%;
    object-fit:cover;
    position:absolute;
}

#page1-Content{
    height : 91%;
    width :100%;
    /* background-color: #0b0b0bce; */
    position : relative;
    z-index:2;
    background-color: black;
}
.rejouiceHeading {
    text-align: center;
    color: white;
    font-size: 12vw;
    /* letter-spacing: 1rem; */
    padding: 0vw;
    /* margin-top: -5vw; */
}
.rejouiceHeading img{
    width : 90%;
    margin-top : 6vw
}

.rejouiceHeading h1{
    /* font-family: rejouiceTwo; */
    
}
.rejouiceHeading p{
    font-size: 1vw;
    letter-spacing: .1rem;
    
}

p#para1 , p#para2 {
    display: flex;
    flex-direction: column;
    align-items:start;
}


.paraDiv{
    /* margin-bottom: 5vw; */
    margin-top: 12vw;
    display : flex;
    gap : 2rem;
    padding : 0vw 3vw;
}
#para1 , #para2{
    width : 13rem;
    
}

nav{
    display : flex;
    align-items: center;
    color : white;
    justify-content: space-between;
    padding : 2.5vw 3vw;
    font-size :.8rem;
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* backdrop-filter: blur(10px); */
    z-index: 100;
}
nav .navBtn{
    display : flex;
    align-items: center;
    gap: 7px;
    font-size :.8rem;
}
.navBtn #home{
    color : grey;
}
nav .bolderBtn{
    gap: 5px;
    display : flex;
    font-weight : 400;
}
nav a{
    font-size : 1.1vw;
}

.page2{
    width : 100%;
    height : 120vh;
    background-color: black;
    position :relative;
    top : 91vh;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infoPara{
    font-size : 3.3vw;
    padding : 4vw 3vw;
    width : 90%;
    height : 50%;
    font-family: rejouice;
    font-weight : 100;
    border-bottom : .5px solid white ;
    color : white;
}
.infoPara2{
    font-size: 1.5vw;
    color: white;
    margin-top: 2vw;
    font-weight: 100;
    display : flex;
    padding : 3vw 4vw;
}
.leftInfo {
    width : 100%;
    display : flex;
    align-items: start;
    justify-content: start;
}
a{
    color : white;
    font-family: rejouice;
    text-underline-offset: 3px;
}


.page3{
    width: 100%;
    background-color: black;
    position: relative;
    top: 91vh;
    padding: 4vw 3vw;
    height: 280vh;
    margin-top: 50vh;
    z-index: 1;
}

.page3 .highlights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}

.page3 .bigImg{
    width: 100%;
    height: 120vh;
    margin-bottom: 20px;
    position: relative;
}

/* .page3 .bigImg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
} */

.page3 .bigImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page3 .smallImg{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.leftImg, .rightImg{
    width: 100%;
    height: 100%;
    position: relative;
}

/* .leftImg::after, .rightImg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 2;
} */

.leftImg img, .rightImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4{
    width: 100%;
    background-color: rgb(250, 248, 248);
    position: relative;
    top: 91vh;
    padding: 4vw 3vw;
    height: 200vh;
    margin-top: 22vh;
    
}
.page4 .logosDiv{
    border-bottom : 1px solid black;
    width : 100%;
    height : 30%;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    padding : 3vw 0;
    gap: 4rem;
}
.logosDiv img{
    height : 22px;
    object-fit: contain;
}